body {
    text-align: center;
    padding: 10px;
}

#court {
    background-color: aliceblue;
    width: 70vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 5px solid black;
}

#player1 {
    background-color: brown;
    position: absolute
}

#player2 {
    background-color: brown;
    position: absolute;
}

#ball {
    background-color: #4b4bb1;
    position: absolute;
}

.text {
    font-size: large;
    font-family: sans-serif;
}