body {
    text-align: center;
    padding: 10px;
}

#court {
    background-image: url(../img/bg.jpg.png);
    background-size: cover;
    width: 70vw;
    height: 70vh;
    position: relative;
    border: 5px solid black;
}

#player1 {
    background-image: url(../img/player1.png);
    background-size: cover;
    position: absolute
}

#player2 {
    background-image: url("../img/player2.png");
    position: absolute;
    background-size: cover;
}

#ball {
    background-image: url("../img/ball.png");
    background-size: contain;
    position: absolute;
}

.text {
    font-size: large;
    font-family: sans-serif;
}

#logo {
   width: 300px;
}